table tr:first-child{
    background-color: blueviolet;
    font-weight: bold;
 
 
}

 
 
table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
 
 
}

tr:nth-child(odd):not(:first-child){
    background-color:darkslateblue;
}
tr:nth-child(even):not(:first-child){
    background-color: papayawhip;
}
 
tr:not(:first-child):hover{
    background-color: darkgreen;
}